
<div class="panel panel-default panel-tabs">
	<div class="panel-body">
	
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" data-ui-sref-active="active">
				<a data-ui-sref="app.queue" href="">Manejar tareas en "Queues"</a>
			</li>
			<li role="presentation" data-ui-sref-active="active">
				<a data-ui-sref="app.roster" href="">Manejar tareas en "Rosters"</a>
			</li>
			<li role="presentation" data-ui-sref-active="active">
				<a data-ui-sref="app.inbox" href="">Manejar tareas en bandejas de Usuario</a>
			</li>
		</ul>
					
		<div class="tab-content" data-ui-view></div>
		
	</div>
</div>

